body {
  background-color: black;
}

h1, h3 {
  text-align: center;
  font-size: 72px;
  font-family: cursive;
}

h3 {
  font-size: 40px;
}

/* #red-t {
  color: red;
} */

.red-text {
  color: purple;
}

.green-text {
  color: green;
}

/* h1, h3 {
  color: blue;
} */

